body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: normal;
  letter-spacing: 0;
}

a {
  text-decoration: none;
  transition: 0.3s linear;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

button {
  background: transparent;
  border: 0;

  &:focus {
    outline: none;
  }
}

input {
  border: 0;
  outline: none;
}

.form-control {
  font-size: 14px;
  padding: 1.5rem 1rem;
}

p {
  font-weight: lighter;
}

@media screen and (max-width: 575px) {
  html {
    font-size: 14px;
  }
}
